@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

.app-container{
  display: flex;
  flex-direction: column;
  background-color: #042d20;
  justify-content: center;
  height: 80px;
  
    -webkit-box-align: center; -moz-box-align: center;
  -ms-flex-align: center;   
  -webkit-box-pack: center; -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  
}

.button{
  margin-left: 1545px;
  margin-right: 15px;
  right: 55px;
  width: 273px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #186947;
  border-radius: 28px;
  background: #2dc686;
  background: -webkit-gradient(linear, left top, left bottom, from(#2dc686), to(#186947));
  background: -moz-linear-gradient(top, #2dc686, #186947);
  background: linear-gradient(to bottom, #2dc686, #186947);
  -webkit-box-shadow: #36eea1 0px 0px 40px 0px;
  -moz-box-shadow: #36eea1 0px 0px 40px 0px;
  box-shadow: #36eea1 0px 0px 40px 0px;
  text-shadow: #0e3e2a 1px 1px 1px;
  font: normal normal bold 18px arial;
  color: #ffffff;
  text-decoration: none;
}
.button:hover,
.button:focus {
  border: 1px solid #1c7c54;
  background: #36eea1;
  background: -webkit-gradient(linear, left top, left bottom, from(#36eea1), to(#1d7e55));
  background: -moz-linear-gradient(top, #36eea1, #1d7e55);
  background: linear-gradient(to bottom, #36eea1, #1d7e55);
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  background: #186947;
  background: -webkit-gradient(linear, left top, left bottom, from(#186947), to(#186947));
  background: -moz-linear-gradient(top, #186947, #186947);
  background: linear-gradient(to bottom, #186947, #186947);
}

.foto{
  width: 200px;
  height: 60px;
  position: fixed;
  margin-left: 15px;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 30px;
  color: #888;
  }
  .container {
  max-width: 550px;
  width: 100%;
  margin-left: 650px;
  margin-top: 200px;
  position: relative;
  }
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea,
  #contact button[type="submit"] {
  font: 500 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  #contact {
       
    -webkit-box-align: center; -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
     
    -webkit-box-pack: center; -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    
    border-radius: 24px;
    background-color: #042d20;
  padding: 25px;
  margin: 100px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
 
  .form-control{
  border: none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  }
  #contact input[type="text"],
  #contact input[type="text"],
  #contact textarea {
    font-size: 18px;
      text-align: center;
      border-radius: 20px;
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  }
  #contact input[type="text"]:hover,
  #contact input[type="text"]:hover,
  #contact textarea:hover {
  -webkit-transition: border-color 0.4s ease-in-out;
  -moz-transition: border-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out;
  border: 1px solid #aaa;
  }
  #contact textarea {
  height: 120px;
  max-width: 100%;
  resize: none;
  }
  #contact button[type="submit"] {
    border-radius: 28px;
    cursor: pointer;
    width: 100%;
    border: none;
    background: #2dc686;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 20px;
  }
  #contact button[type="submit"]:hover {
  background: #1d7e55;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  }
  #contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  #contact input:focus,
  #contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
  }
  


